h1 {
	color: black;
}

h2{
	color: green;
}
.footerbanner{
	/*width: 20px;
  	height: 20px;*/
  	scale: 0.5;
  	align-items: right;
}

.intro {
	border-style: solid;
	border: 2px solid lightblue;
  	border-radius: 5px;
  	font-family: sans-serif;
  	font-size: 0.875rem;
  	line-height: 1.57;
  	font-weight: 400;
  	margin: 0px;
  	color: rgb(108, 115, 127);
  	padding-top: 5px;
  	padding-left: 10px;
  	padding-right: 10px;
  	padding-bottom: 5px;
  	width: 600px;
  	margin: 10px;
  	background-color: lightblue;
}

.services {
	display: flex;
	border-style: solid;
	border: 2px solid lightblue;
  	border-radius: 5px;
  	width: 900px;
  	padding-top: 5px;
  	padding-left: 10px;
  	padding-right: 10px;
  	padding-bottom: 5px;
  	margin: 10px;
  	align-items: stretch;
  	background-color: rgb(243, 244, 246);

}

.services > div{
	border-style: solid;
	border: 10px solid lightblue;
  	border-radius: 10px;
  	padding-top: 5px;
  	padding-left: 16px;
  	padding-right: 10px;
  	padding-bottom: 5px;
  	align-items: center;
  	background-color: lightblue;
  	margin: 10px;
}

body {
	font-family: sans-serif;
  	font-size: 0.875rem;
  	line-height: 1.57;
  	font-weight: 400;
  	margin: 0px;
  	color: rgb(108, 115, 127);
  	padding-top: 16px;
  	padding-left: 16px;
  	padding-right: 16px;
  	padding-bottom: 16px;
  	background-color: rgb(243, 244, 246);

}

.servicestitle {
	font-size: 1.5rem;
	color: green;

}